<div class="btn-group" role="group">
    <a ui-sref="library" class="btn btn-default"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></a>
    <button  type="button"
             ng-class="!vmController.selectedTab.editMode ? 'btn btn-warning btn-md' : 'btn btn-success btn-md'"
             ng-click="vmController.selectedTab.editMode = !vmController.selectedTab.editMode">
        <span ng-class="!vmController.selectedTab.editMode ? 'glyphicon glyphicon-pencil' : 'glyphicon glyphicon-ok'" aria-hidden="true"></span>
    </button>
    <button class="btn btn-default" ng-click="vmController.addfile({file: vmController.selectedTab})"> Create file
    </button>
</div>
<uib-tabset active="active">
    <uib-tab ng-repeat="file in vmController.activefile" index="$index" select="vmController.selectTab(file)">
        <uib-tab-heading>
            {{file.title}}
            <span  ng-click="vmController.closeFile($index)"> X
            </span>
        </uib-tab-heading>
        <div>
            <h2>File name:
                <input ng-show="file.editMode" type="text" ng-model="file.title"/>
                <span ng-show="!file.editMode">{{file.title}}
                </span>
            </h2>
            <hr>
            <div class="row">
                <div class="col-sm-6" ng-show="file.editMode">
                    <textarea ng-model="file.message" style="width: 100%; height: 100vh;">
                    </textarea>
                </div>
                <div class="col-sm-6">
                    <div btf-markdown="file.message">
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>