<div class="row">
    <div ng-show="vmController.toggleFilePanel" class="col-md-2 span6">
        <h3>Files
        </h3>
        <div class="list-group">
            <a href="" class="list-group-item clearfix" ng-repeat="file in vmController.files" ng-click="vmController.addToActives(file)">
                 {{file.title}}
                <span class="pull-right">
                    <span class="btn btn-xs btn-danger" ng-click="vmController.deleteFile($index)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </span>
                </span>
            </a>
        </div>
    </div>
    <div ng-class="vmController.toggleFilePanel ? 'col-lg-10' : 'col-lg-12'">
        <editor addfile="vmController.addFile(file)" activefile="vmController.files" togglefilepanel="vmController.toggleFilePanel"></editor>
    </div>
</div>